.wrapper {
padding: 20px;
margin: 10px; auto;
border: 10px solid #ff0000
}

.header {
  width: 75%;
  background: #ff8888;
  padding: 20px;
  margin: 10px;
  float:left;

  }

  .wrapper {
  padding: 20px;
  margin: 10px; auto;
  border: 10px solid #ff0000
  }




.left {
width: 220px;
background: #ff8888;
float:left;
margin: 10px;
border: 10px;
padding: 20px;
}

.center {
  width: 220px;
  background: #ff8888;
  float:left;
  margin: 10px;
  border: 10px;
  padding: 20px;
}

.right {
  width: 220px;
  background: #ff8888;
  float:left;
  margin: 10px;
  border: 10px;
  padding: 20px;
}

.footer {
  width: 75%;
  background: #ff8888;
  padding: 20px;
  margin: 10px;
  float:left;

  }

.clear {
  clear:both;
}
