body {
  background-color: red;
  background: url("images/background.png");
  font-family: 'Arial', sans-sherif;
}

.wrapper {
  width: 50%;
  margin: auto;
  background-color: white;
  padding: 10px;

}
.awesomeclass {
  color: #44FF33;
}

#directions {
  color: #ff0088;
}

.awesomeclass .awesome {
color: #0000FF;
}

h2 {
  color: #e7642c;
  font-family: 'Source Sans Pro', sans-serif;
}

.best {

  color: blue
}
